<a href="https://colab.research.google.com/github/sangeetaisaac/Machine-Learning/blob/main/pandas_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

pd.__version__

'1.5.3'

In [ ]:
# create a pandas series

s1 = pd.Series([3,4,5,6,7], dtype=float)
print(s1)
print(s1.values)
print(s1.index)
print(s1[3])

0    3.0
1    4.0
2    5.0
3    6.0
4    7.0
dtype: float64
[3. 4. 5. 6. 7.]
RangeIndex(start=0, stop=5, step=1)
6.0

In [ ]:
# Create a pandas series with index parameter and access the values , indices

s2 = pd.Series([3,4,5,6,7], index=['March', 'April', 'May', 'June', 'July'])
print(s2)
print(s2.values)
print(s2.index)
print(s2.April)

March    3
April    4
May      5
June     6
July     7
dtype: int64
[3 4 5 6 7]
Index(['March', 'April', 'May', 'June', 'July'], dtype='object')
4

In [ ]:
# Create a pandas dataframe from a dictionary

data_frame = pd.DataFrame({'City':['Toronto', 'Mumbai', 'Houston', 'Austin', 'College Station'],
                           'Year':[2022, 1987,2020,2015,2013]}, index = ['a','b','c','d', 'e'])
print(data_frame)

              City  Year
a          Toronto  2022
b           Mumbai  1987
c          Houston  2020
d           Austin  2015
e  College Station  2013

In [ ]:
# Create a pandas dataframe from a numpy array and the values are from a standard normal distribution

arr1 = np.random.randn(5,3)

df = pd.DataFrame(arr1, columns=['A', 'B', 'C'])
print(df)

          A         B         C
0  0.101690  1.323819  0.499840
1 -0.384334  1.217441 -0.143479
2 -1.355664 -0.614983  0.278091
3 -0.206157  2.710141  0.161147
4  1.299134  1.011384  0.560531

In [ ]:
# Create a dataframe from a dictionary of Series objects
cities_dict = {'California': 47364732, 'Texas': 5848774, 'Arizona': 8347348}
series_cities = pd.Series(cities_dict)
print(series_cities)
df_cities = pd.DataFrame(series_cities, columns = ['Area'])
print(df_cities)

California    47364732
Texas          5848774
Arizona        8347348
dtype: int64
                Area
California  47364732
Texas        5848774
Arizona      8347348

In [ ]:
 #Create a dataframe from a 2d array
 A = pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])
 print(A)

        foo       bar
a  0.735321  0.695222
b  0.131802  0.853309
c  0.465276  0.179038

In [ ]:
customer_dict = {'Name': ['Lily', 'Emma', 'John'],
                 'Age': [38, 15, 28],
                 'Education':['High School', 'Bachelors', 'Masters'],
                 'Gender': ['f', 'f', 'm']}
customer = pd.DataFrame(customer_dict)
print(customer)

   Name  Age    Education Gender
0  Lily   38  High School      f
1  Emma   15    Bachelors      f
2  John   28      Masters      m

In [ ]:
# Use the loc and iloc methods to select the first 2 rows
print(customer.loc[:1, ['Age', 'Education']])
print(customer.iloc[:2,1:3])

   Age    Education
0   38  High School
1   15    Bachelors
   Age    Education
0   38  High School
1   15    Bachelors

In [ ]:
# Using filters display a subset of the columns
customer_filter = (customer['Gender'] == 'f') & (customer['Age'] == 38)
print(customer[customer_filter])

   Name  Age    Education Gender
0  Lily   38  High School      f

In [ ]:
# Find out what element is missing in the data frame
df = pd.DataFrame({"A": [1.0, 2.0, 3.0, np.NAN],
                  "B": [2.4, 6.2, 5.1, np.NAN],
                  "C": ["foo", "zoo", "bar", None]})

print(df)
print(df.isna())
print(df.notna())

     A    B     C
0  1.0  2.4   foo
1  2.0  6.2   zoo
2  3.0  5.1   bar
3  NaN  NaN  None
       A      B      C
0  False  False  False
1  False  False  False
2  False  False  False
3   True   True   True
       A      B      C
0   True   True   True
1   True   True   True
2   True   True   True
3  False  False  False

In [ ]:

df_students = pd.DataFrame({"A": [1, 2, 3, 4, 7],
                            "B": [2.4, np.NaN, 5.1, np.NaN, 2.6],
                            "C": ["phd", "phd", "high school", "high school", np.NaN],
                            "D": [3.0, np.NaN, np.NaN, np.NaN, np.NaN]})
print(df_students, "\n")

# Drop rows that have atleast 1 missing value

df_students_dropped = df_students.dropna(axis=0, how = 'any')
print("Dropped dataframe = \n")
print(df_students_dropped)

# Keep rows that have atleast 3 non-missing values
df_students_keep = df_students.dropna(axis=0, thresh=3)
print("Dropped dataframe = \n")
print(df_students_keep)

   A    B            C    D
0  1  2.4          phd  3.0
1  2  NaN          phd  NaN
2  3  5.1  high school  NaN
3  4  NaN  high school  NaN
4  7  2.6          NaN  NaN

Dropped dataframe =

   A    B    C    D
0  1  2.4  phd  3.0
Dropped dataframe =

   A    B            C    D
0  1  2.4          phd  3.0
2  3  5.1  high school  NaN

In [ ]:
# Usefillna to handle missing values

df_students_fillna = pd.DataFrame({"A": [1, 2, 3, 4, 7],
                            "B": [2.4, np.NaN, 5.1, np.NaN, 2.6],
                            "C": ["phd", "phd", "high school", "high school", np.NaN],
                            "D": [3.0, np.NaN, np.NaN, np.NaN, np.NaN]})
print(df_students_fillna)
average_value = df_students_fillna['B'].mean()
df_students_fillna['B'].fillna(average_value, inplace=True)
df_students_fillna['D'].fillna(3.0, inplace=True)
value_mode = df_students_fillna['C'].mode()[1]
df_students_fillna['C'].fillna(value_mode, inplace=True)

print(df_students_fillna)

   A    B            C    D
0  1  2.4          phd  3.0
1  2  NaN          phd  NaN
2  3  5.1  high school  NaN
3  4  NaN  high school  NaN
4  7  2.6          NaN  NaN

In [ ]:
#Sort the columns of a dataframe

df_sort_values = pd.DataFrame({"Date":['2023-09-03', '2023-10-10', '2023-08-15', '2023-09-19'],
                               "Product": ["A", "B", "C", "D"],
                               "Revenue": [4000, 1000, 3000, 2000]})
print(df_sort_values)
print("\n After Sorting: \n")
df_sort_values.sort_values(by="Revenue", ascending=True, inplace=True)
print(df_sort_values)

         Date Product  Revenue
0  2023-09-03       A     4000
1  2023-10-10       B     1000
2  2023-08-15       C     3000
3  2023-09-19       D     2000

 After Sorting:

         Date Product  Revenue
1  2023-10-10       B     1000
3  2023-09-19       D     2000
2  2023-08-15       C     3000
0  2023-09-03       A     4000

In [ ]:
#Drop Columns in a Dataframe

df_products = pd.DataFrame({"ID":['gds73', 'tir7334', 'jfk77634', '47643'],
                               "Product": ["A", "B", "C", "D"],
                               "Revenue": [4000, 1000, 3000, 2000],
                               "Region": [np.NaN, np.NaN, np.NaN, np.NaN],
                               "Expenses": [3000, 500, 2000, 2000]
                               })
df_products.drop(["ID", "Region"], axis=1, inplace=True)
print(df_products)

  Product  Revenue  Expenses
0       A     4000      3000
1       B     1000       500
2       C     3000      2000
3       D     2000      2000

In [ ]:
# Add 100 to the column Expenses and create a new column Profits = Revenue - Expenses

df_products["Expenses"] = df_products["Expenses"].apply(lambda x: x + 100)
df_products["Profits"] = df_products["Revenue"] - df_products["Expenses"]

print(df_products)

  Product  Revenue  Expenses  Profits
0       A     4000      3100      900
1       B     1000       600      400
2       C     3000      2100      900
3       D     2000      2100     -100

In [ ]:
# Find the average value of a category using group by and aggregation functions

df_product_categories = pd.DataFrame({'product_category': ['baby', 'book', 'book', 'beauty', 'baby'],
                                      'product_price': [19.99, 12.49, 22, 49, 16],
                                      'rating': [5, 3, 3, 2, 4]})
print(df_product_categories)

print("\n What is the average rating by Product Category")
avg_rating_category = df_product_categories.groupby('product_category')['rating'].mean().reset_index()
avg_rating_category.rename(columns={'rating': 'Average Rating'}, inplace=True)
print(avg_rating_category)

print("\n What is the average rating of the Baby Category")
print(avg_rating_category[avg_rating_category['product_category'] == 'baby'])

print("\n What is the average rating and total sales of each category: ")
avg_rating_category = df_product_categories.groupby('product_category').agg({'rating':'mean', 'product_price':'sum'}).reset_index()
avg_rating_category.rename(columns = {'rating':'average_rating', 'product_price': 'total_sales'}, inplace=True)
print(avg_rating_category)

  product_category  product_price  rating
0             baby          19.99       5
1             book          12.49       3
2             book          22.00       3
3           beauty          49.00       2
4             baby          16.00       4

 What is the average rating by Product Category
  product_category  Average Rating
0             baby             4.5
1           beauty             2.0
2             book             3.0

 What is the average rating of the Baby Category
  product_category  Average Rating
0             baby             4.5

 What is the average rating and total sales of each category:
  product_category  average_rating  total_sales
0             baby             4.5        35.99
1           beauty             2.0        49.00
2             book             3.0        34.49

In [ ]:

csv_url = '/content/sample_data/california_housing_train.csv'
california_housing = pd.read_csv(csv_url)

california_housing.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
#Concatenate Pandas dataframes by rows

df_housing_head = california_housing.head(5)
print(df_housing_head)

df_housing_tail = california_housing.tail(5)
print(df_housing_tail)

df_housing_combined = pd.concat([df_housing_head, df_housing_tail], axis=0).reset_index()
print(df_housing_combined)

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -114.31     34.19                15.0       5612.0          1283.0
1    -114.47     34.40                19.0       7650.0          1901.0
2    -114.56     33.69                17.0        720.0           174.0
3    -114.57     33.64                14.0       1501.0           337.0
4    -114.57     33.57                20.0       1454.0           326.0

   population  households  median_income  median_house_value
0      1015.0       472.0         1.4936             66900.0
1      1129.0       463.0         1.8200             80100.0
2       333.0       117.0         1.6509             85700.0
3       515.0       226.0         3.1917             73400.0
4       624.0       262.0         1.9250             65500.0
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0
   index  longitude  latitude  housing_median_age  total_rooms  \
0      0    -114.31     34.19                15.0       5612.0
1      1    -114.47     34.40                19.0       7650.0
2      2    -114.56     33.69                17.0        720.0
3      3    -114.57     33.64                14.0       1501.0
4      4    -114.57     33.57                20.0       1454.0
5  16995    -124.26     40.58                52.0       2217.0
6  16996    -124.27     40.69                36.0       2349.0
7  16997    -124.30     41.84                17.0       2677.0
8  16998    -124.30     41.80                19.0       2672.0
9  16999    -124.35     40.54                52.0       1820.0

   total_bedrooms  population  households  median_income  median_house_value
0          1283.0      1015.0       472.0         1.4936             66900.0
1          1901.0      1129.0       463.0         1.8200             80100.0
2           174.0       333.0       117.0         1.6509             85700.0
3           337.0       515.0       226.0         3.1917             73400.0
4           326.0       624.0       262.0         1.9250             65500.0
5           394.0       907.0       369.0         2.3571            111400.0
6           528.0      1194.0       465.0         2.5179             79000.0
7           531.0      1244.0       456.0         3.0313            103600.0
8           552.0      1298.0       478.0         1.9797             85800.0
9           300.0       806.0       270.0         3.0147             94600.0

In [ ]:
#Concatenate Pandas dataframes by columns

df_housing_left = california_housing[['latitude','longitude']].head(5)
print(df_housing_left)

df_housing_right = california_housing[['total_bedrooms', 'median_income']].head(5)
print(df_housing_right)

df_housing_full = pd.concat([df_housing_left, df_housing_right], axis=1).reset_index()
print(df_housing_full)

   latitude  longitude
0     34.19    -114.31
1     34.40    -114.47
2     33.69    -114.56
3     33.64    -114.57
4     33.57    -114.57
   total_bedrooms  median_income
0          1283.0         1.4936
1          1901.0         1.8200
2           174.0         1.6509
3           337.0         3.1917
4           326.0         1.9250
   index  latitude  longitude  total_bedrooms  median_income
0      0     34.19    -114.31          1283.0         1.4936
1      1     34.40    -114.47          1901.0         1.8200
2      2     33.69    -114.56           174.0         1.6509
3      3     33.64    -114.57           337.0         3.1917
4      4     33.57    -114.57           326.0         1.9250

In [ ]:
# Merge 2 datasets : Inner join, right join

review_data = pd.DataFrame({
    'product_id': ['P1', 'P2', 'P3'],
    'review_score': [4.5, 3.8, 4.0],
    'review_comment':['Satisfied', 'Need impovement', 'Excellent']

})

product_names = pd.DataFrame({
    'product_id': ['P1', 'P2', 'P3', 'P4'],
    'product_name': ['Product A', 'Product B', 'Product C', 'Product D']
})

reviews_merged_inner = review_data.merge(product_names, on='product_id')
reviews_merged_right = review_data.merge(product_names, on='product_id', how='right')

print(reviews_merged_inner)
print(reviews_merged_right)

  product_id  review_score   review_comment product_name
0         P1           4.5        Satisfied    Product A
1         P2           3.8  Need impovement    Product B
2         P3           4.0        Excellent    Product C
  product_id  review_score   review_comment product_name
0         P1           4.5        Satisfied    Product A
1         P2           3.8  Need impovement    Product B
2         P3           4.0        Excellent    Product C
3         P4           NaN              NaN    Product D